<div class="page-header">
  <h1>Ubet<small> will define the future of betting!</small></h1>
</div>

<div class="hero-unit">
  <h1 class="centered-text">Meet the team</h1>
  <p>"The dudes"</p>
  <div class="btn-group">
  <button class="btn">The team</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Fedo","#" %></li>
    <li><%= link_to "Iñigo","#" %></li>
    <li><%= link_to "Migo","#" %></li>
    <li><%= link_to "Mike","#" %></li>
    <li><%= link_to "Roman","#" %></li>
  </ul>
</div>
  </p>
</div>
